<!-- <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
    1
    <div class="clues">
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[0]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[1]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[2]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[3]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[4]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[5]}"></div>
    </div>
    <div class="attempt">
        <div
        id="myColor1"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor1[0]}"
        cdkDropList
        [cdkDropListData]="myColor1"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        ></div>
        <div
        id="myColor2"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor2[0]}"
        cdkDropList
        [cdkDropListData]="myColor2"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"></div>
        <div
        id="myColor3"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor3[0]}"
        cdkDropList
        [cdkDropListData]="myColor3"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"></div>
        <div
        id="myColor4"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor4[0]}"
        cdkDropList
        [cdkDropListData]="myColor4"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"></div>
        <div
        id="myColor5"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor5[0]}"
        cdkDropList
        [cdkDropListData]="myColor5"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"></div>
        <div
        id="myColor6"
        class="circle color" 
        [ngStyle]="{backgroundColor: myColor6[0]}"
        cdkDropList
        [cdkDropListData]="myColor6"
        cdkDropListConnectedTo="colors"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"></div>
    </div>
</div> -->