<div style="display: flex; align-items: center; justify-content: space-around;">

    <p>{{attemptNumber}}</p>

    <div class="clues">
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[0]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[1]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[2]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[3]}"></div>
        <div class="clues-circle" [ngStyle]="{backgroundColor: clues[4]}"></div>
    </div>

    <div class="attempt">
        <div id="{{colorArrays[0].name}}" class="circle color" [ngStyle]="{backgroundColor: colorArrays[0].value[0]}"
            cdkDropList [cdkDropListData]="colorArrays[0].value" cdkDropListConnectedTo="colorPool"
            (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"></div>

        <div id="{{colorArrays[1].name}}" class="circle color" [ngStyle]="{backgroundColor: colorArrays[1].value[0]}"
            cdkDropList [cdkDropListData]="colorArrays[1].value" cdkDropListConnectedTo="colorPool"
            (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"></div>

        <div id="{{colorArrays[2].name}}" class="circle color" [ngStyle]="{backgroundColor: colorArrays[2].value[0]}"
            cdkDropList [cdkDropListData]="colorArrays[2].value" cdkDropListConnectedTo="colorPool"
            (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"></div>

        <div id="{{colorArrays[3].name}}" class="circle color" [ngStyle]="{backgroundColor: colorArrays[3].value[0]}"
            cdkDropList [cdkDropListData]="colorArrays[3].value" cdkDropListConnectedTo="colorPool"
            (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"></div>

        <div id="{{colorArrays[4].name}}" class="circle color" [ngStyle]="{backgroundColor: colorArrays[4].value[0]}"
            cdkDropList [cdkDropListData]="colorArrays[4].value" cdkDropListConnectedTo="colorPool"
            (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"></div>
    </div>
</div>
<span *ngIf="isCombinationCorrect" class="correct">CORRECT!</span>