<div class="home">
    <div class="intro">
        <h1>Master Mind</h1>
        <p>Welcome to Master Mind, the classic board game made digital to play with your friends online.</p>
    </div>

    <div class="buttons">
        <button routerLink="/one-player" routerLinkActive="active" class="one-player-button">1 player</button>
        <button routerLink="/two-players" routerLinkActive="active">2 players</button>
    </div>

    <button (click)="modal.openRules()" class="rules-button">How to play</button>
    <app-rules-modal #modal></app-rules-modal>

</div>
