<!-- SECRET COMBINATION -->
<div class="combination">
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
</div>

<!-- COLOR POOL -->
<div 
    id="colorPool" 
    cdkDropList 
    [cdkDropListData]="colorPool" 
    [cdkDropListConnectedTo]="dropListConnectedTo" 
    (cdkDropListDropped)="dropInColorPool($event)" 
    style="display:flex; justify-content: space-around;">
    <div 
        *ngFor="let color of colorPool" 
        class="circle color" 
        [ngStyle]="{backgroundColor: color}"
        [cdkDragData]="color" 
        cdkDrag></div>
</div>

<!-- ATTEMPTS -->
<div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">

    <app-attempt [attemptNumber]="1" [secretCombination]="secretCombination"></app-attempt>
    <app-attempt [attemptNumber]="2" [secretCombination]="secretCombination"></app-attempt>
    <app-attempt [attemptNumber]="3" [secretCombination]="secretCombination"></app-attempt>
   
</div>


    <!-- <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
        6
        <div class="clues">
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
        </div>
        <div class="attempt">
            <div
            id="myColor31"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor31[0]}"
            cdkDropList
            [cdkDropListData]="myColor31"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor32"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor32[0]}"
            cdkDropList
            [cdkDropListData]="myColor32"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor33"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor33[0]}"
            cdkDropList
            [cdkDropListData]="myColor33"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor34"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor34[0]}"
            cdkDropList
            [cdkDropListData]="myColor34"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor35"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor35[0]}"
            cdkDropList
            [cdkDropListData]="myColor35"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor36"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor36[0]}"
            cdkDropList
            [cdkDropListData]="myColor36"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
        </div>

    </div> -->


<!-- <button (click)="checkCombination()">check</button> -->
