<div class="combination">
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
</div>

<div 
    id="colors" 
    cdkDropList 
    [cdkDropListData]="colors" 
    [cdkDropListConnectedTo]="['myColor1', 'myColor2', 'myColor3', 'myColor4', 'myColor5', 'myColor6', 'myColor7', 'myColor8', 'myColor9', 'myColor10', 'myColor11', 'myColor12', 'myColor13', 'myColor14', 'myColor15', 'myColor16', 'myColor17', 'myColor18', 'myColor19', 'myColor20', 'myColor21', 'myColor22', 'myColor23', 'myColor24']" 
    (cdkDropListDropped)="drop($event)" 
    style="display:flex; justify-content: space-around;">
    <div 
        *ngFor="let color of colors" 
        class="circle color" 
        [ngStyle]="{backgroundColor: color}"
        [cdkDragData]="color" 
        cdkDrag></div>
</div>
<div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
    <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
        1
        <div class="clues">
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[0]}"></div>
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[1]}"></div>
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[2]}"></div>
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[3]}"></div>
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[4]}"></div>
            <div class="clues-circle" [ngStyle]="{backgroundColor: clues[5]}"></div>
        </div>
        <div class="attempt">
            <div
            id="myColor1"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor1[0]}"
            cdkDropList
            [cdkDropListData]="myColor1"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"
            ></div>
            <div
            id="myColor2"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor2[0]}"
            cdkDropList
            [cdkDropListData]="myColor2"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor3"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor3[0]}"
            cdkDropList
            [cdkDropListData]="myColor3"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor4"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor4[0]}"
            cdkDropList
            [cdkDropListData]="myColor4"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor5"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor5[0]}"
            cdkDropList
            [cdkDropListData]="myColor5"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor6"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor6[0]}"
            cdkDropList
            [cdkDropListData]="myColor6"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
        </div>
    </div>
    <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
        2
        <div class="clues">
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
        </div>
        <div class="attempt">
            <div
            id="myColor7"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor7[0]}"
            cdkDropList
            [cdkDropListData]="myColor7"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor8"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor8[0]}"
            cdkDropList
            [cdkDropListData]="myColor8"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor9"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor9[0]}"
            cdkDropList
            [cdkDropListData]="myColor9"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor10"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor10[0]}"
            cdkDropList
            [cdkDropListData]="myColor10"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor11"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor11[0]}"
            cdkDropList
            [cdkDropListData]="myColor11"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor12"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor12[0]}"
            cdkDropList
            [cdkDropListData]="myColor12"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
        </div>
    </div>
    <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
        3
        <div class="clues">
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
        </div>
        <div class="attempt">
            <div
            id="myColor13"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor13[0]}"
            cdkDropList
            [cdkDropListData]="myColor13"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor14"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor14[0]}"
            cdkDropList
            [cdkDropListData]="myColor14"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor15"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor15[0]}"
            cdkDropList
            [cdkDropListData]="myColor15"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor16"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor16[0]}"
            cdkDropList
            [cdkDropListData]="myColor16"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor17"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor17[0]}"
            cdkDropList
            [cdkDropListData]="myColor17"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor18"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor18[0]}"
            cdkDropList
            [cdkDropListData]="myColor18"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
        </div>
    </div>
    <div style="margin-top: 20px; display: flex; align-items: center; justify-content: space-around;">
        4
        <div class="clues">
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
            <div class="clues-circle"></div>
        </div>
        <div class="attempt">
            <div
            id="myColor19"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor19[0]}"
            cdkDropList
            [cdkDropListData]="myColor19"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor20"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor20[0]}"
            cdkDropList
            [cdkDropListData]="myColor20"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor21"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor21[0]}"
            cdkDropList
            [cdkDropListData]="myColor21"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor22"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor22[0]}"
            cdkDropList
            [cdkDropListData]="myColor22"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor23"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor23[0]}"
            cdkDropList
            [cdkDropListData]="myColor23"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
            <div
            id="myColor24"
            class="circle color" 
            [ngStyle]="{backgroundColor: myColor24[0]}"
            cdkDropList
            [cdkDropListData]="myColor24"
            cdkDropListConnectedTo="colors"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"></div>
        </div>

    </div>
    </div>


<button (click)="checkCombination()">check</button>
