<!-- SECRET COMBINATION -->
<div class="combination">
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
    <div class="circle circle-combination">?</div>
</div>

<!-- COLOR POOL -->
<div 
    id="colorPool" 
    cdkDropList 
    [cdkDropListData]="colorPool" 
    [cdkDropListConnectedTo]="dropListConnectedTo" 
    (cdkDropListDropped)="dropInColorPool($event)" 
    style="display:flex; justify-content: space-around;">
    <div 
        *ngFor="let color of colorPool" 
        class="circle color" 
        [ngStyle]="{backgroundColor: color}"
        [cdkDragData]="color" 
        cdkDrag></div>
</div>

<!-- ATTEMPTS -->
<div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-top: 20px;">

    <app-attempt [attemptNumber]="1"></app-attempt>
    <app-attempt [attemptNumber]="2"></app-attempt>
    <app-attempt [attemptNumber]="3"></app-attempt>
    <app-attempt [attemptNumber]="4"></app-attempt>
    <app-attempt [attemptNumber]="5"></app-attempt>
    <app-attempt [attemptNumber]="6"></app-attempt>
    <app-attempt [attemptNumber]="7"></app-attempt>
    <app-attempt [attemptNumber]="8"></app-attempt>
    <app-attempt [attemptNumber]="9"></app-attempt>
    <app-attempt [attemptNumber]="10"></app-attempt>
   
</div>

<button (click)="checkAttempt()">check</button>
